@import "tailwindcss";

@import "./base/_fonts.css";
@import "./base/_reset.css";
@import "./base/_scrollbar.css";
@import "./base/_variables.css";

@import "./components/_about.css";
@import "./components/_buttons.css";
@import "./components/_cards.css";
@import "./components/_forms.css";
@import "./components/_hero.css";
@import "./components/_mobile-menu.css";
@import "./components/_reviews.css";
@import "./components/_navbar.css";
@import "./components/_reviews.css";
@import "./components/_service-card.css";
@import "./components/_shapes.css";
@import "./components/_title.css";

@import "./utilities/_animations.css";
@import "./utilities/_effects.css";
