::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #ab0202,
    #ff4d4d
  );
  border-radius: 10px;
  border: 2px solid #f3f4f6;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    var(--primary),
    #ff6a6a
  );
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary);
}
